## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Assignment => +=,-=,*=,/=,%=,//=,**=
    - Logical => AND,OR,XOR,NOT
    - Relational => >,<,==,!=,>=,<=
    - Bitwise => &,|,^,>>,<<
    - Identity => is, is not
    - Membership => in, not in

## Input Formatting:
    - It displays an info to a user
    - It reads a value from a user
    - By default it stores string data type value
    Syntax:
        variable_name = input("something info")

In [4]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value:  rajesh

rajesh <class 'str'>

In [1]:
a = 20
print(a)

20

## Typecasting:
    - To change the data type of value from one data type to another data type
    - int()
    - float()
    - complex()
    - bool()
    - All Data Structures [list(),tuple(),set(),str() and dict()]

In [4]:
n,m = int(input("Enter n value: ")),int(input("Enter m value: "))
print(n,type(n))
print(m,type(m))

Enter n value:  12
Enter m value:  5

12 <class 'int'>
5 <class 'int'>

```
Input:
    12
    2
Output:
    Entered numbers are 12,2
    Entered numbers are '12','2'
```